
.hair-index-body {
  margin: 20px;
  /* 外側の余白を40pxにする */
  padding: 0;
  /* 内側の余白を消す(念のため) */ }

.search-form {
  white-space: nowrap;
  margin-left: 80px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  line-height: 5; 
  
}

.cutmodel_search {
    //background:red;
    height:170px;
}

#q_category_eq_new_line, #q_category_eq_short, #q_category_eq_bob,
#q_category_eq_medium, #q_category_eq_long, #q_category_eq_mens, #q_category_eq_arrenge {
  display: inline-block;
  margin: 0px 5px 0px 30px; }
  
.submit {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: black;
	background: white;
	border-radius: 4px;
	margin-left:410px;
	font-family: 'Cormorant Garamond', serif;
	
}
.submit:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
}  

.image-all {
    //background:red;
}

.hair-picture {
  height: 280px;
  width: 350px;
  margin: 10px; }
  
  

