// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

.hair-index-body {
  margin: 20px;
  /* 外側の余白を40pxにする */
  padding: 0;
  /* 内側の余白を消す(念のため) */ }

.search-form {
  white-space: nowrap;
  margin-left: 8%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  line-height: 5; 
  
}

.cutmodel_search {
    //background:red;
    height:170px;
}

#q_category_eq_new_line, #q_category_eq_short, #q_category_eq_bob,
#q_category_eq_medium, #q_category_eq_long, #q_category_eq_mens, #q_category_eq_arrenge {
  display: inline-block;
  margin: 0px 5px 0px 30px; }
  
.submit {
	//display: block;
	//position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: black;
	background: white;
	border-radius: 4px;
	margin-left:1%;
	font-family: 'Cormorant Garamond', serif;
	
}
.submit:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
}  

.image-all {
    //background:red;
}

.hair-picture {
  height: 280px;
  width: 350px;
  margin: 10px;
 }
 
 
 #ttl-list {
	width: 100%;
	min-width: 1060px;
	background-repeat: repeat-x;
	background-position: center top;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 10px;
	border-top:solid 3px #EEEEEE;
	border-bottom:solid 3px #EEEEEE;
}
  
/*----------------------------------------------------------------
SHOWページ
----------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
詳細
--------------------------------------------------------------------------------- */

.hair-show {
    margin-top:20px;
}

*, *::before, *::after {
    box-sizing:border-box;
}

.mainImage {
    max-width :1100px;
    width:100%;
    padding:0 40px;
    margin: 0px 100px;
}

.mainImage img {
    width:100%;
    border-bottom:solid 2px;
}

.imagelist {
    maxwidth:1000px;
    width:100%;
    margin-bottom: 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:0px 1%;
    //background:red;
    
}

.imagelist li {
    width:16%;
    height:150px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    cursor:pointer;
    transition:.3%;
}

.imagelist li:hover {
    opacity:.7;
    transform:scale(1.05);
}

.mainImage {
    position: relative;
}

.stylist {
    position: absolute;
    top: 20px;
    left: 0;
    font-family: 'Cormorant Garamond', serif;
}

#info02-block {
	padding-top: 15px;
	padding-bottom: 35px;
	width: 960px;
	margin-right: auto;
	margin-left: 22%;
}
#info02-block h4 {
	text-align: center;
	padding-bottom: 20px;
}
#info02-block h4 img {
	height: auto;
	width: 244px;
}
#info02-block p {
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	padding-bottom: 1.5em;
}

#info02-block .commnet p {
	color: #000;
}
#info02-block .howto p {
	color: #666600;
}



  

